.search{
	position: absolute;
	top: 50px;
	border:none;
	border-bottom:0.5px solid;

}

.forms{
	margin-left:546px;
	margin-top:20px;
}

.search:hover{
	transition:2s;
	border:none;
	background-color:#d9d9d9
}
